{% extends 'main/base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<style>

</style>


<section class="post-forms">
    <article class="">

            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3>Post Nou<h3>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter your title">
                <textarea id="content" name="content" class="form-control" placeholder="Write your content here"></textarea>
            
            
                <input type="file" name="photo" accept="image/*" class="form-file">
            </fieldset>
            
            <!-- <button type="submit" class="form-btn">Posteaza</button> -->
            <div class="button-container">
            <button type="submit" class="cybr-btn">
                posteaza<span aria-hidden>_</span>
                <span class="cybr-btn__glitch">posteaza</span>
                <span class="cybr-btn__tag">R25</span>
              </button>
            </div>
        </form>
    </article>
    </section>
{% endblock content %}



</div>

