{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  /* General Page Styles */
  
</style>

<section class="first-card">
  <article class="second-card">
    
    <div class="post">

      <h2>{{ object.title }}</h2>
      <h3>{{ object.subcontent }}</h3>
      <p>{{ object.content }}</p>

      {% if object.image %}
        <img class="post-image" src="{{ object.image.url }}" alt="{{ object.title }} Image">
      {% endif %}

      <!-- Post Footer: Avatar, Author, and Date -->
      <div class="post-footer">
        <img class="avatar" src="{{ object.author.profile.image.url }}" alt="Author Avatar">
        
        <div class="author-info">
          <a class="text-yellow-300" href="#">{{ object.author }}</a>
        </div>

        <small class="post-date">{{ object.date_posted }}</small>
      </div>

      <!-- Edit and Delete Buttons -->
      {% if object.author == user %}
        <div class="button-container">
          <a href="{% url 'blog-update' object.id %}">
            <button type="button" class="btn btn-primary">
              Editeaza
            </button>
          </a>
          <a href="{% url 'blog-delete' object.id %}">
            <button type="button" class="btn btn-danger">
              Sterge
            </button>
          </a>
        </div>
      {% endif %}
    </div>
          
  </article>
</section>

{% endblock content %}
