{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>

</style>

<section class="post-forms">
  <article class="forms-card">
    
            <div class="post">

              <h2><a class="text-light" href="#">{{ object.title }}</a></h2>
              <p class="text-light">{{ object.content }}
                <br>
                <br>
              {% if object.image %}
              
              <img class = "post-image" src="{{ object.image.url }}" alt="{{ object.title }} Image">
            {% endif %}
            

            
              <img class="avatar" src="{{ object.author.profile.image.url }}" alt="">
              <a class="text-dark" href="#">{{ object.author }}</a>
              <small class="text-light">{{ object.date_posted }}</small> <br>
                {% if object.author == user %} 


                  <div class="button-container"> <!-- Ensure this container is centered -->
                    <a class="cybr-btn" href="{% url 'blog-update' object.id %}">
                      editeaza<span aria-hidden>_</span>
                      <span class="cybr-btn__glitch">editeaza</span>
                      <span class="cybr-btn__tag">R25</span>
                    </a>
                    <a class="cybr-btn" href="{% url 'blog-delete' object.id %}">
                      Sterge<span aria-hidden>_</span>
                      <span class="cybr-btn__glitch">Sterge</span>
                      <span class="cybr-btn__tag">R25</span>
                    </a>
                  </div>
                  
                {% endif %}
            </div>
          
</article>

</section>

<style>

</style>
{% endblock content %}
