{% extends 'main/base.html' %}

{% block content %}
<style>

</style>
<div class="container">
<div class="content">
<div class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3>Post Nou</h3>

            <!-- Title field -->
            <input type="text" name="title" placeholder="Title" required>
            
            <!-- Summary field -->
            <input type="text" name="summary" placeholder="Summary" required>
            
            <!-- Content field -->
            <textarea name="content" placeholder="Content" required></textarea>
            
            <!-- Image field -->
            <input type="file" name="image" required>
            
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
</div>
</div>
{% endblock content %}
