{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="content">
  
    <div class="profile">
      <img class="profile-img" src="{{ user.profile.image.url }}" alt="User Profile Image">

      <h1 class="profile-username">{{ user.username|title }}</h1>
      <p class="profile-email">{{ user.email }}</p>

      <div class="button-container">
        <a class="edit-profile-btn" href="{% url 'profile-update' %}">
          Edit Profile
        </a>
      </div>
    </div>
  </div>
</div>


<style>
  /* General Styles */


</style>

{% endblock content %}
