{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<style>
.info-container {
margin: 20px;
background-color: transparent;
}

</style>
<!-- <div class="insigna">
       

    <video autoplay muted playsinline class="background-video">
        <source src="{% static '/css/img/insigna_mid.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</div> -->

  <!--Projects-->
  <section class="projects">
    <div class="slider">
        <button class="slider-btn prev-btn">&#10094;</button>
        <div class="projects-center">
            <article class="project">
                
                <div class="info-container">
                    <h3 class="project-title">Civic Type R AWD?</h3>
                    <p class="project-summary">Honda Civic Type R With 100-HP 'E-Nitrous' AWD!</p>
                    <a href="https://motortrend.com/reviews/orbis-honda-civic-type-r-awd-review/" class="read-more">Read More</a>
                    <img src="{% static '/css/img/project-6.jpeg' %}" alt="car">
                </div>
            </article>
            <article class="project">
                
                <div class="info-container">
                    <h3 class="project-title">Project Title 2</h3>
                    <p class="project-summary">A brief summary of the project.</p>
                    <a href="external-link-2.html" class="read-more">Read More</a>
                    <img src="{% static '/css/img/project-4.jpeg' %}" alt="car">
                </div>
            </article>
            <article class="project">
                
                <div class="info-container">
                    <h3 class="project-title">Project Title 3</h3>
                    <p class="project-summary">A brief summary of the project.</p>
                    <a href="external-link-2.html" class="read-more">Read More</a>
                    <img src="{% static '/css/img/project-3.jpeg' %}" alt="car">
                </div>
                
            </article>
            <article class="project">
               
                <div class="info-container">
                    <h3 class="project-title">Project Title 4</h3>
                    <p class="project-summary">A brief summary of the project.</p
                    <a href="external-link-2.html" class="read-more">Read More</a>
                </div>
                <img src="{% static '/css/img/project-1.jpeg' %}" alt="car">
            </article>
            <article class="project">–
                
                <div class="info-container">
                    <h3 class="project-title">Project Title 5</h3>
                    <p class="project-summary">A brief summary of the project.</p>
                    <a href="external-link-2.html" class="read-more">Read More</a>
                    <img src="{% static '/css/img/project-7.jpg' %}" alt="car">
                </div>
            </article>
            <article class="project">
                <img src="{% static '/css/img/project-6.jpeg' %}" alt="car">
                <div class="info-container">
                    <h3 class="project-title">Project Title 6</h3>
                    <p class="project-summary">A brief summary of the project.</p>
                    <a href="external-link-2.html" class="read-more">Read More</a>
                </div>
            </article>
            <!-- Repeat for other projects -->
        </div>
        <button class="slider-btn next-btn">&#10095;</button>
    </div>
</section>




<!--services-->
<section class="services">
    <video autoplay muted playsinline class="background-video">
        <source src="{% static '/css/img/insigna_mid.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="services-center">
        <article class="service">
            <div class="service-icon">
               <i class="fa-solid fa-dungeon"></i>
            </div>
            <div class="service-text">
                <h3>garaj reparatii</h3>
                <p>Expertiză și cunoștințe tehnice solide pentru remedierea problemelor diverse.</p>
            </div>
        </article>
        <article class="service">
           <div class="service-icon">
               <i class="fas fa-car"></i>
           </div>
           <div class="service-text">
               <h3>Mașini de valoare</h3>
               <p>Vehicule ce oferă performanțe superioare și experiențe de condus plăcute.</p>
           </div>
       </article>
       <article class="service">
           <div class="service-icon">
               <i class="fas fa-cog"></i>
           </div>
           <div class="service-text">
               <h3>Siguranta in multime</h3>
               <p>Valorificarea experiențelor pentru a crește și a evolua.</p>
           </div>
       </article>
    </div>
   
   </section>
 
   

   <section class="about">
       <article class="about-card">
           <h3>Despre Auto Hub</h3>
           <i class="fas fa-car"></i>
           <p>Platforma noastră dedicată fanilor Honda si tuturor automobilistilor oferă o experiență captivantă, conectând pasionații automobilelor la ultimele știri, recenzii și evenimente legate de marca Honda. 
               Cu articole detaliate, informații despre modele, istorie și inovații tehnologice, explorăm universul fascinant al vehiculelor Honda. 
               Prin galerii foto atractive și comunitatea noastră implicată, încurajăm schimbul de idei și pasiunea comună pentru această marcă emblematică, ducând entuziasmul pentru Honda la un nivel superior."</p>
       </article>
   </section>
   



      

</section>
   <!--contact-->
   <div class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            

            <!-- Title field -->
            <input type="text" name="title" placeholder="Adresa dvs. e-mail" required>
            
            
            <!-- Content field -->
            <textarea name="content" placeholder="Mesaj" required></textarea>
            
            <!-- Image field -->
            <!-- <input type="file" name="image" required> -->
            
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Contact</button>
            </div>
        </fieldset>
    </form>
    </div>
   <!--end of contact-->

  
{% endblock %}

