{% extends 'main/base.html' %}

{% block content %}
<div class="login"></div>
<section class="pf">
    <article class="profile-card">
        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
            <button type="submit" class="edit-profile-btn">Login</button>
        </div>
        <small class="text-dark">Don't have an account? <a href="{% url 'register' %}">Register</a></small>
        </form>
    </article>
</section>
</div>

{% endblock %}