{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<section class="post-forms">
    <article class="forms-card text-light">
        
            <form  method="post">
            {% csrf_token %}
            <fieldset class="form-group text-light">
                <legend class="border-bottom mb-2 text-light">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <small class="text-light">Already have an account? <a href="{% url 'login' %}">Login</a></small>

                <button class="form-btn mb-4" type="submit">Sign Up</button>
            
            
        </form>
        <div class="">
           
        </div>
    


</article>
</section>

{% endblock %}

