{% extends "main/base.html" %}

{% block content %}
<style>
    textarea {
        height: 40px;
    }
</style>

<div class="form-container">
    <h1>Adauga anunt</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <!-- Render form fields -->
            {{ form.as_p }}

            <!-- Upload Photo Field -->
            <!-- <input type="file" id="id_photo" name="photo" accept="image/*"> -->
        </div>
        
        <!-- Submit Button -->
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Add item</button>
        </div>
    </form>

    <!-- Back Link -->
    <a href="{% url 'shop:item_list' %}" class="back-link">Back to items list</a>
</div>
{% endblock %}
