{% extends "main/base.html" %}

{% block content %}

<style>
    /* Styling for the post container */


</style>

<div class="post">
    <h1>{{ item.name }}</h1>
    
    <div class="item-details">
        <p><strong>Year:</strong> {{ item.year }}</p>
        <p><strong>Power:</strong> {{ item.power }}</p>
        <p><strong>Fuel:</strong> {{ item.fuel }}</p>
        <p><strong>Cabin Type:</strong> {{ item.cabin_type }}</p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <p><strong>Phone Number:</strong> {{ item.phone_number }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
    </div>

    <p class="author"><strong>Author:</strong> {{ item.owner.username }}</p>

    {% if item.photo %}
    <div class="item-image-container">
        <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo">
    </div>
    {% endif %}

    {% if item.owner == user %}
    <div class="item-detail-buttons">
        <a class="btn btn-outline-success" href="{% url 'shop:item_update' item.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'shop:item_confirm_delete' item.id %}">Delete</a>
    </div>
    {% endif %}
</div>


{% endblock %}
