{% extends "main/base.html" %}

{% block content %}
<section class="post-forms">
<article class="forms-card text-light">

<form method="post" enctype="multipart/form-data">
    <fieldset class="form-group text-light">
        <legend class="border-bottom mb-2 text-light">Actualizeaza</legend>
        
    </fieldset>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="form-btn" type="submit">Update</button>
    <a href="{% url 'shop:item_list' %}">Back to items list</a>
</form>


</article>
</section>

<style>

textarea {
  width: 100%; /* Adjust width as needed */
  max-width: 100%; /* Ensure it doesn’t exceed the container */
  height:30px; /* Set the desired height */
  max-height: 300px; /* Set the maximum height */
  resize: vertical; /* Allow users to resize vertically only */
  
}
</style>
{% endblock %}

