{% extends "main/base.html" %}

{% block content %}

<style>

/* Container for the item grid */
.shop {
    padding-top: 100px;
    padding-bottom: 65px;
    min-height: 80vh;
    background: url(../main/static/css/img/project-4.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 items per row */
    gap: 20px; /* Space between items */
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 1200px; /* Adjust as needed */
    
}

.item {
    border: none;
    border-radius: 8px;
    overflow: hidden; /* Ensures content does not overflow */
    background: linear-gradient(black, rgba(255,255,255,0.3));
    padding: 20px; /* Padding inside each item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-photo {
    width: 100%;
    height: auto; /* Keeps aspect ratio */
    display: block;
    margin-bottom: 10px; /* Space between photo and content */
}

.placeholder {
    text-align: center;
    color: white;
    font-style: italic;
    margin: 10px 0; /* Adjust space around placeholder */
}

.item-info {
    text-align: center;
    
}
.item-info h2 {
    text-decoration: none;
    text-transform: none;
    color: #B20F0F;
}

.item-info h2:hover {
    text-decoration: none; /* Ensure underline is removed on hover */
}

.add-item-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: var(--primary-color); /* Adjust color as needed */
    text-decoration: none;
    font-weight: bold;
}

.add-item-link:hover {
    text-decoration: underline;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #B20F0F;
    background: linear-gradient(rgba(0, 0, 0, 0.346), rgba(255, 255, 255, 0.074));
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    background-color: #ddd;
    font-weight: bold;
}


.filter-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 items per row */
    gap: 20px; /* Space between items */
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 1200px; /* Adjust as needed */
}



.collapsible {
   
    color: #B20F0F;
    background: linear-gradient(rgba(0, 0, 0, 0.346), rgba(255, 255, 255, 0.074));
    cursor: pointer;
    padding: 10px;
    width: 20%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Style the content */
.content {
    display: none;
    overflow: hidden;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: transparent;
}



.filter {
    margin-bottom: 1rem; /* Space between form fields */
    flex: 1 1 auto; /* Allow the filter to grow and shrink */
    min-width: 200px; /* Minimum width for the filter elements */
}

.text-light {
    
    color: var(--primary-color); 
    padding: 0.5rem;
    
    border-radius: 0.25rem;
}
.item-list p {
    color: white;
}



.filter-button:hover {
  /*   background-color: #0056b3; Darker button color on hover */
}

</style>
<section class="shop">
    <button class="collapsible">Filtreaza cautarea</button>
    <div class="content">
        <form method="GET" action="{% url 'shop:item_list' %}" class="filter-form">
            <div class="filter">
                <input type="text" name="model" id="model" value="{{ request.GET.model }}" placeholder="Model" class="text-dark">
            </div>
            <div class="filter">
                <input type="number" name="year_min" id="year_min" value="{{ request.GET.year_min }}" placeholder="Year (Min)" class="text-dark">
            </div>
            <div class="filter">
                <input type="number" name="year_max" id="year_max" value="{{ request.GET.year_max }}" placeholder="Year (Max)" class="text-dark">
            </div>

            <div class="filter">
                <input type="number" name="price_min" id="price_min" value="{{ request.GET.price_min }}" placeholder="Price (Min)" class="text-dark">
            </div>
            <div class="filter">
                <input type="number" name="price_max" id="price_max" value="{{ request.GET.price_max }}" placeholder="Price (Max)" class="text-dark">
            </div>
                        <div class="filter">
                <label class="text-light" for="cabin_type">Cabin Type:</label>
                <select name="cabin_type" id="cabin_type">
                    <option value="">All</option>
                    <option value="SUV" {% if request.GET.cabin_type == "SUV" %}selected{% endif %}>SUV</option>
                    <option value="Sedan" {% if request.GET.cabin_type == "Sedan" %}selected{% endif %}>Sedan</option>
                    <option value="Hatchback" {% if request.GET.cabin_type == "Hatchback" %}selected{% endif %}>Hatchback</option>
                    <!-- Add other cabin types as needed -->
                </select>
            </div>
            <div class="filter">
                <label class="text-light" for="fuel">Fuel:</label>
                <select name="fuel" id="fuel">
                    <option value="">All</option>
                    <option value="Gas" {% if request.GET.fuel == "Gas" %}selected{% endif %}>Gas</option>
                    <option value="Diesel" {% if request.GET.fuel == "Diesel" %}selected{% endif %}>Diesel</option>
                    <option value="Hybrid" {% if request.GET.fuel == "Hybrid" %}selected{% endif %}>Hybrid</option>
                    <!-- Add other fuel types as needed -->
                </select>
            </div>
            <button type="submit" class="form-btn">GO!</button>
        </form>
    </div>
    
    </form>
    <h1>Items</h1>
    <ul class="item-list">
        
        {% for item in page_obj %}
        <li class="item">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo" class="item-photo">
            {% else %}
                <img src="" alt="Placeholder Photo" class="item-photo">
                <div class="placeholder">Placeholder</div>
            {% endif %}
            <div class="item-info">
                <a href="{% url 'shop:item_detail' item.pk %}">
                    <h2>{{ item.name }}</h2>
                </a>
                <p>Model: {{ item.model }}</p>
                <p>Year: {{ item.year }}</p>
                <p>Power: {{ item.power }}</p>
                <p>Fuel: {{ item.fuel }}</p>
                <p>Cabin Type: {{ item.cabin_type }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Phone Number: {{ item.phone_nr }}</p>
                <p>Description: {{ item.description|truncatewords:3 }}</p>
            </div>
        </li>
        {% empty %}
        <li>No items found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'shop:add_item' %}" class="add-item-link">Add a new item</a>

    <!-- Pagination controls -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var coll = document.getElementsByClassName("collapsible");
        var i;
    
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    });
    </script>

{% endblock %}

