

  /* *{
    margin: 0;
    padding: 0;
} */

:root {
    --primary-color: #df1313; /* A nice shade of blue */
    --secondary-color: #B20F0F; 
    --tertiary-color: #B20F0F; 
    --fourth-color: linear-gradient(90deg, white 70%, #e6de00 70%), #e6de00;; 
    --fifth-color: rgb(255, 255, 255); 
    --sixth-color: black; 
    --seventh-color: #dfd804; 
}
body{
    font-family: "Kanit", sans-serif;
}

/*###########Styling the navigation bar links########## #ad343e; */
nav ul{
    list-style-type: none;
    display: none;
}

nav ul a{
    display: block;
    background: var(--secondary-color);    
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: color 2s ease,background 2s;
    padding: 2s ease;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centers text and inline elements */
    padding: 20px; /* Optional: Adds padding around the content */
  }

nav ul a:hover{
    background: var(--tertiary-color);
    color: var(--fourth-color); ;
    padding-left: 30px;
    
}
.bt-profile {
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background: #df1313;
    color: white;
    width: 200px;
    text-align: center;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  }
  
  .bt-profile:hover {
    background: #c11212;
  }
  
/* .nav-container img{
    width: 100px;
    align-self: center;
} */


/* .btn{
    padding: 2px;
    display: inline-block;
    border: 2px solid var(--primary-color);
    align-self: center;
} */

header{
    max-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),
    url(img/header-car.jpg)center/cover fixed no-repeat;

   
}


/* nav{
    flex: 0 0 auto;
} */

.banner{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: transparent;
}

.banner-center{
    margin-top: 100vh;

}

.banner h1{
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.banner h3{
    text-transform: capitalize;
    font-size: 30px;
    color: var(--secondary-color);}
.and{
    color: grey;
}

.banner-icons{
    padding: 20px;
}

.banner-icons a{
    display: inline-block;
    font-size: 30px;
    background: var(--tertiary-color);
    padding: 5px 10px;
    margin: 0 18px;
    border-radius: 50%;
    color: var(--fifth-color);
    transition: color 1s ease, transform 1s ease;
}
 .banner-icons a:hover{
     color: var(--primary-color);
     transform: translateY(-10px)
 }

 nav{
     position: fixed;
     width: 100%;
     z-index: 10;
 }

 @media screen and (min-width:776px){
    .nav-container{
        display: none;
    }
    nav ul {
        display: flex!important;
        flex-wrap: wrap;
        justify-content: center;
        background: rgba(13,19,23,0.8);
        }
    nav ul a {
        background: transparent;
    }
    nav ul a:hover {
        background: transparent;
        padding-left: 20px;
    }
}
/*#############services###############*/
.services{
    min-height: 80vh;
    background: url(img/services-bcg.jpeg)center/cover
    fixed no-repeat;
    display: flex;
    align-items: center;
}

.service{
    color: var(--fifth-color);
    display: flex;
    margin: 40px;
}

.service-icon{
    align-self: center;
    font-size: 60px;
    margin-right: 20px;
    padding: 20px;
    border: 3px solid var(--seventh-color);
    border-radius: 50px;
    color: var(--primary-color);

}

.service-text h3{
    text-transform: uppercase;
    line-height: 2;
    color: white;

}

.service-text p{
margin-top: 5px;
}

@media screen and (min-height:576px){
    .services-center{
        width: 70%;
    }
}

@media screen and (min-height:776px){
    .services-center{
        width: 50%;
    }
    .service-text p{
        width: 90%; 
    }
}


/*######################projects##################*/
.projects{
    padding: 0 0 100px;
    background: var(--fourth-color);
}

.title h2{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

.title-underline{
    background: var(--primary-color);
    width: 100px;
    height: 4px;
    margin: 10px auto
}

.title{
    padding: 40px 0;
}

.project{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    overflow: hidden;
}
.projects img{
    width: 100%;
    display: block;
    transition: opacity 2s ease,transform 2s ease;
}

.projects img:hover{
    opacity: 0.3;
    cursor: pointer;
    transform:scale(1.3)
}


@media screen and (min-width:576px){
    .projects-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    .projects-center{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*################about###############*/

.about{
    min-height: 100vh;
    padding: 100px 0;
    background: url(img/girl-moto-2.jpg)center/cover
    fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card{
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 60px 40px;
    font-size: 20px;
}

.about-card h3{
 font-size: 40px;
 text-transform: capitalize;
}

.about-card .fa-car{
    font-size: 60px;
    color: var(--primary-color);
    margin: 20px 0;
}

.about-card p{
    line-height: 2;
}

@media screen and (min-width: 776px){
    .about-card{
        max-width: 50%;
        border-radius: 30px;
    }
    .about-card{
        max-width: 70%;
        margin: 0 auto;
    }
}
/*#############filler#################*/
.filler{
    min-height: 70vh;
    background: url(img/filler-bcg.jpeg)center/cover
    fixed no-repeat;
}
.insigna {
    position: relative;
    min-height: 100vh;
    overflow: hidden; /* Ensure the video does not overflow */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the video to cover the container */
    z-index: -1; /* Ensure the video is behind any content */
}

/* Optional: Style for any content over the video */
.insigna-content {
    position: relative;
    z-index: 1; /* Ensure content is above the video */
    color: white; /* Example text color */
}

/*############contact##################*/
/*#Parent container#*/

/*#Child container#*/



/*#############footer##################*/
footer {
    background: var(--secondary-color);    
    padding: 20px 0; /* Reduced padding for a shorter height */
    text-align: center;
    margin: 0;
}

.footer-icons a {
    display: inline-block;
    font-size: 30px;
    margin:0 10px ; /* Reduced margin for tighter spacing */
    border-radius: 5px;
    background: var(--fourth-color);
    color: var(--secondary-color);
}

footer p {
    color: var(--fourth-color);
    font-size: 18px; /* Slightly smaller font size for better spacing */
    margin: 5px; /* Reduced margin to minimize space */
}







.media img {
    
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.article-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.article-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.article-content {
    margin-bottom: 15px;
}
/* 
item_detail */
.item-forms{
    min-height: 90vh;
    background: url(img/street.jpg)center/cover
    fixed no-repeat;    
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.item-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if needed) */
    margin: 20px 0; /* Optional: add space around the image */
    
}

.item-image-container img {
    min-width: 400px;
width: 700px; /* Ensures the image does not exceed the container width */
    height: auto; /* Maintains the aspect ratio of the image */
    border-radius: 10px;
}


/* home-blog */

.content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;     
    justify-content: center;
    max-width: 100vh;
    justify-content: center;
    background-color: transparent;
    margin: 0 auto;
}           

.home-blog {
    padding-top: 100px;
    padding-bottom: 65px;
    min-height: 80vh;
    background: url(img/red-car-girl.jpg) center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-post {   
      flex: 1 1 calc(80% - 10px);
      border: 1px solid #ddd;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background: linear-gradient(black, rgba(255,255,255,0.3));
    
  }
.text-author {
    color: var(--primary-color);
}
/* post-detail */

.post{
    color:#ddd;
    padding:30px;
}
.post h1 {   
    color: white;
    }
    .post p {
        color: white; /* Slightly lighter grey */
    }
.post-forms{
    min-height: 90vh;
    background: url(img/project-4.jpg)center/cover
    fixed no-repeat;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}
/*#Child container#*/
/* .post-forms-card{
    border-radius: 10px;
    flex:0 0 80%;
    padding: 40px;
    background: linear-gradient(black, rgba(255,255,255,0.3));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0; 
    max-width: fit-content;
} */


  .post-image {
      width: 100%; /* Ensures the image takes full width of its container */
      max-height: 600px; /* Maintains aspect ratio */
      object-fit: cover; /* Ensures the image covers the entire container */
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .avatar {
    height: 50px;
    
  }

  .forms-card{
    flex:0 0 80%;
    padding: 40px 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:100px 0;
    max-width: 800px;
    
}

form{

    flex: 0 0 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;

}

form input{
    padding: 5px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

form h3{
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    font-size: 20px;
    
}
.white-text {
        color: white;
    }
.form-file {
    width: 100%;
    padding: 10px;
    
    border: none;
    font-size: 15px;
}
  /*   .form-btn {
    border-radius: 4px;
    margin: 10px auto 0; 
}*/

/* form textarea{
    padding: 5px;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
} */

input::placeholder,
textarea::placeholder{
    
    color: var(--secondary-color);}

/* .form-btn{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background: var(--primary-color);
    color: var(--fifth-color);
    width: 200px; 
    text-align: center;
    transition: color 1s ease-in-out,background 1s
    ease-in-out
}
.form-btn:hover{
    color: var(--primary-color);
    background: var(--fourth-color);
} */

/* buttons */
/* Ensure the container of the button is centered */
.form, .forms-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
}

/* Center the button within its container */
/* Ensure the container of the button is centered */
.form, .forms-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
}

/* Center the button within its container */
/* Container for the buttons */
.button-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust gap between buttons if needed */
}

/* Adjusted button styles */
